@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
  url("../fonts/Inter-Regular.woff?v=3.18") format("woff");
}

body {
  font-family: 'Inter';
  font-feature-settings: "zero","tnum";
}

.D3Dashboard {
  .title {
    cursor: pointer;
  }

  .row {
    display: inline-flex;
    margin: .5rem 0;
  }
}
