.D3Dashboard-BarChartCustom-Container {
  background-color: #fff;
  border: 1px solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 15px;
  position: relative;
  height: 300px;
  width: 600px;

  .x-axis-label, .y-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-transform: capitalize;
  }

  .tooltip {
    position: absolute;
    opacity: 0;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    box-shadow: 0 6px 8px rgb(52 73 94 / 20%), 0 1px 1px rgb(52 73 94 / 10%);
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 12px;
      height: 12px;
      background: white;
      border-width: 1px;
      border-style: solid;
      border-color: transparent rgb(221, 221, 221) rgb(221, 221, 221) transparent;
      border-image: initial;
      transform: translate(-50%, 50%) rotate(
                      45deg
      );
      transform-origin: center center;
      z-index: 10;
    }
  }

}
