.D3Dashboard-BarChartCustom-Container {
  background-color: #fff;
  border: 1px solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 15px;
  position: relative;
  height: 300px;
  width: 600px;

  .x-axis-label, .y-axis-label {
    fill: #34495e;
    font-size: 1.4em;
    text-transform: capitalize;
  }

}
